!!! 5
html
  head
    link(rel='stylesheet', type='text/css', href='/stylesheets/Style.css')
    link(rel='shortcut icon', href='./Logo.ico') 
    script(src="jQuery_v1.9.1.js")
    script(src="Snake_Main.js")
    script(src="Snake_Functions.js")
    script(src="ExCanvas.js")
    title=title
  body
    .Video
      img(src="img/Img-0.jpg", alt="Video")
      canvas(class="VideoContainer", tabindex="0", height="400", width="500")
    .Video
      img(src="img/Img-0.jpg", alt="Video")
      canvas(class="VideoContainer", tabindex="1")